@use "partials/variables" as *;
@use "partials/mixins" as *;

@font-face {
  font-family: 'AvenirNext';
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format('truetype');
}


body {
    margin: auto;
    font-family: 'AvenirNext', sans-serif;

    .header {
      font-size: 1.5rem;
      height: 5rem;
      font-weight: 700;
      background-color: #323232;
      display: flex;
      justify-content: center;
      margin-bottom: auto;
      flex-direction: column;
    
      &__logo {
        text-decoration: none;
        color: $primary-colorwhite;
        display: flex;
        justify-content: center;
      }
    
      @include tablet {
        padding: 3rem 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row;
        height: 2rem;
    }
    @include desktop {
      padding: 3rem 1.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row;
      height: 2rem;
    }
    }
    
    nav {
      ul {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        background-color: $primary-colorblack;
        justify-content: space-evenly;
        font-size: 1.5rem;
        height: 2rem;
        font-weight: 700;
        list-style-type: none;
        li {
          a{ 
          text-decoration: none;
          color: $primary-colorwhite;
          background-color: $primary-colorblack;
          

          @include tablet{
            margin-right: 2rem;
          }
          @include desktop {
            margin-right: 2rem;
          }
          }
        }
      }
    }
    .header__nav-items a:hover{
      border-bottom: .1875rem solid $primary-colorwhite;
      position: relative;
    }
    .header__nav-items a.active {
      border-bottom: .1875rem solid $primary-colorwhite;
    }

  
    .hero-section {
      position: relative;
      display: flex;
      align-items: flex-start;
      background-image: url("../assets/Images/hero-bio.jpg");
      background-size: 100% auto;
      max-height: fit-content;
      height: 50vh;
      background-repeat: no-repeat;
      
  
      h1 {
        font-size: 2.8125rem;
        color: $primary-colorwhite;
        font-weight: 700;
        position: relative;
        top: 12.375rem;
        left: 1.9375rem;
      }
    }

  .band-description{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      color: $primary-colorblack;
      position:relative;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
    }
    &__quote {
      color:$secondary-colordblack;
    }
    &__image {
      width: 95%;
      padding-left: 16px;
    }
    &__band-name {
      color:$secondary-colordblack;
      font-size: 1.85rem;
      font-weight: 600;
      line-height: 22px;
    }
    &__text {
      @include tablet {
        column-count: 2;
        column-gap: 20px;
        text-align:start;
        font-size: .875rem;
        font-weight: 400;
      }
      @include desktop {
        column-count: 2;
        column-gap: 20px;
        text-align:start;
        font-size: .875rem;
        font-weight: 400;
      }
    }
  }



.gallery {
  background-color: $secondary-coloralabaster;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;

  &__img {
    margin-top: 24px;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      margin: 5px;
    }
  }

  @include tablet {
    .gallery__flex img {
      width: calc(33.33% - 10px);
    }
  }
  @include desktop {
    .gallery__flex img {
      width: calc(33.33% - 10px);
    }
  }
}

footer {
    font-size: .8125rem;
    font-weight: 700;
    background-color:$primary-colorblack;
    color: $primary-colorwhite;
    padding-left: 1rem;

    .footer__icon {
      display: flex;
      flex-direction: column;

      @include tablet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    @include desktop {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
  }

      .footer__icon-container {
        margin-right: 3.125rem;
        display: flex;
        flex-direction: row;
        align-items: flex;

        .footer__icon-link {
          margin-right: 30px;
          
        }
      }
    }

    .footer-profiles{
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        .footer__icon {
          display: flex;
          align-items: center;
        }
      }
      @include desktop {
        flex-direction: row;
        .footer__icon {
          display: flex;
          align-items: center;
        }
      }
      
      .footer-profile {
        flex: 1 1 33%;

      }
    }
  }
}


  .copyright {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
  .copyright__title {
    position: relative;
    bottom: 240px;
    left:600px;
    max-width: fit-content;
    max-height: fit-content;
  }
}
@include desktop {
  .copyright__title {
    position: relative;
    bottom: 240px;
    left:1050px;
    max-width: fit-content;
    max-height: fit-content;
  }
}

.comment {
  background-color: $primary-colorwhite;
  margin: 0 1rem;
  
  &__title {
    font-size: 2rem;
    margin: 2rem 0;
  }

  &__name-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-colormercury;
  }

  &__post-container {
    display: flex;
    flex-direction: column;
  } 


}