@font-face {
  font-family: "AvenirNext";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("truetype");
}
body {
  margin: auto;
  font-family: "AvenirNext", sans-serif;
}
body .header {
  font-size: 1.5rem;
  height: 5rem;
  font-weight: 700;
  background-color: #323232;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  flex-direction: column;
}
body .header__logo {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  body .header {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    height: 2rem;
  }
}
body nav ul {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  background-color: #323232;
  justify-content: space-evenly;
  font-size: 1.5rem;
  height: 2rem;
  font-weight: 700;
  list-style-type: none;
}
body nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  body nav ul li a {
    margin-right: 2rem;
  }
}
body .hero-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: 100% auto;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: 50vh;
  background-repeat: no-repeat;
}
body .hero-section h1 {
  font-size: 2.8125rem;
  color: #FFFFFF;
  font-weight: 700;
  position: relative;
  top: 12.375rem;
  left: 1.9375rem;
}
body .band-description {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
body .band-description__title {
  display: flex;
  color: #323232;
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
body .band-description__quote {
  color: #000000;
}
body .band-description__image {
  width: 95%;
  padding-left: 16px;
}
body .band-description__band-name {
  color: #000000;
  font-size: 1.85rem;
  font-weight: 600;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  body .band-description__text {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 20px;
         column-gap: 20px;
    text-align: start;
    font-size: 0.875rem;
    font-weight: 400;
  }
}
body .gallery {
  background-color: #FAFAFA;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
body .gallery__img {
  margin-top: 24px;
}
body .gallery__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .gallery__flex img {
  width: 100%;
  height: auto;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  body .gallery .gallery__flex img {
    width: calc(33.33% - 10px);
  }
}
body footer {
  font-size: 0.8125rem;
  font-weight: 700;
  background-color: #323232;
  color: #FFFFFF;
}
body footer .footer-profiles {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  body footer .footer-profiles {
    flex-direction: row;
  }
}
body footer .footer-profiles .footer-profile {
  flex: 1 1 33%;
}