body {
    margin: auto;
  
    .header {
      font-size: 1.5rem;
      height: 2rem;
      font-weight: 700;
      background-color: #323232;
      display: flex;
      justify-content: center;
      margin-bottom: auto;
  
      .logo {
        text-decoration: none;
        color: white;
      }
    }
  
    nav {
      ul {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        background-color: #323232;
        justify-content: space-evenly;
        font-size: 1.5rem;
        height: 2rem;
        font-weight: 700;
        list-style-type: none;
  
        .nav__link {
          text-decoration: none;
          color: white;
          background-color: #323232;
        }
      }
    }
  
    .hero-section {
      .hero-img {
        // width: 6.25rem;
        opacity: 0.5;
        margin: auto;
      }
  
      h1 {
        position: relative;
        left: 2.25rem;
        bottom: 25.125rem;
        font-size: 4.8125rem;
        color: white;
        font-weight: 700;
      }
    }
  }

  .band-description{
    position: relative;
    h1 {
      color: #323232;
      border:solid black 2px;
      justify-content: center;
      left:9.25rem;
      position:relative;
    }
    img{
      padding:16px


    }
  }

footer {
    font-size: .8125rem;
    font-weight: 700;
    background-color: #323232;
    color: white;
  }