body {
  margin: auto;
}
body .header {
  font-size: 1.5rem;
  height: 2rem;
  font-weight: 700;
  background-color: #323232;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}
body .header .logo {
  text-decoration: none;
  color: white;
}
body nav ul {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  background-color: #323232;
  justify-content: space-evenly;
  font-size: 1.5rem;
  height: 2rem;
  font-weight: 700;
  list-style-type: none;
}
body nav ul .nav__link {
  text-decoration: none;
  color: white;
  background-color: #323232;
}
body .hero-section {
  position: relative;
}
body .hero-section .hero-img {
  opacity: 0.5;
  margin: auto;
}
body .hero-section h1 {
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  bottom: 20.125rem;
  font-size: 4.8125rem;
  color: white;
  font-weight: 700;
  margin: auto;
}

.band-description h1 {
  display: flex;
  color: #323232;
  justify-content: center;
  position: relative;
}

footer {
  font-size: 0.8125rem;
  font-weight: 700;
  background-color: #323232;
  color: white;
}