@use "partials/variables" as *;
@use "partials/mixins" as *;

@font-face {
  font-family: 'AvenirNext';
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format('truetype');
}


body {
    margin: auto;
    font-family: 'AvenirNext', sans-serif;

    .header {
      font-size: 1.5rem;
      height: 2rem;
      font-weight: 700;
      background-color: #323232;
      display: flex;
      justify-content: center;
      margin-bottom: auto;
    
      .logo {
        text-decoration: none;
        color: $primary-colorwhite;
      }
    
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
          margin-left: 40px;
          margin-top: 40px;
          ul.nav__link{
            border: solid black 2px;
          }
        }
      }
    }
    
    nav {
      ul {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        background-color: $primary-colorblack;
        justify-content: space-evenly;
        font-size: 1.5rem;
        height: 2rem;
        font-weight: 700;
        list-style-type: none;
    
        .nav__link {
          text-decoration: none;
          color: $primary-colorwhite;
          background-color: $primary-colorblack;
        }
      }
    }
  
    .hero-section {
      position: relative;
      display: flex;
      align-items: flex-start;
      background-image: url("../assets/Images/hero-bio.jpg");
      background-size: 100% auto;
      max-height: fit-content;
      height: 40vh;
      
  
      h1 {
        font-size: 4.8125rem;
        color: $primary-colorwhite;
        font-weight: 700;
        position: relative;
        top: 9.375rem;
        left: .9375rem;
      }
    }

  .band-description{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    h1 {
      display: flex;
      color: $primary-colorblack;
      justify-content: center;
      position:relative;
    }
    h3 {
      color:$secondary-colordblack;
      font-size: 3.25rem;
  
    }
    h2 {
      color:$primary-colorblack;
    }
    .description-text {
      @media screen and (min-width: 768px) {
        column-count: 2;
        column-gap: 20px;
        text-align:start;
        font-size: .875rem;
        font-weight: 400;
      }
    }
  }



.gallery {
  background-color: $secondary-coloralabaster;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  img {
    margin-top: 24px;
  }
  .gallery-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      margin: 5px;
    }
  }

  @media screen and (min-width: 768px) {
    .gallery-flex img {
      width: calc(33.33% - 10px);
    }
  }
}
footer {
    font-size: .8125rem;
    font-weight: 700;
    background-color:$primary-colorblack;
    color: $primary-colorwhite;
  }
}