@font-face {
  font-family: "AvenirNext";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("truetype");
}
body {
  margin: auto;
  font-family: "AvenirNext", sans-serif;
}
body .header {
  font-size: 1.5rem;
  height: 5rem;
  font-weight: 700;
  background-color: #323232;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  flex-direction: column;
}
body .header__logo {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  body .header {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    height: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  body .header {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    height: 2rem;
  }
}
body nav ul {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  background-color: #323232;
  justify-content: space-evenly;
  font-size: 1.5rem;
  height: 2rem;
  font-weight: 700;
  list-style-type: none;
}
body nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  body nav ul li a {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  body nav ul li a {
    margin-right: 2rem;
  }
}
body .header__nav-items a:hover {
  border-bottom: 0.1875rem solid #FFFFFF;
  position: relative;
}
body .header__nav-items a.active {
  border-bottom: 0.1875rem solid #FFFFFF;
}
body .hero-section {
  width: 100vw;
  height: 29.5rem;
  background-image: url("../assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .hero-section__container {
  height: 29.5rem;
  padding: 0 1rem;
}
body .hero-section__subtitle {
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0 auto;
  padding: 4rem 0 0 0;
}
body .hero-section__maintitle {
  color: #FFFFFF;
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0 auto;
  padding: 1rem 0 4rem 0;
}
body .hero-section__sound {
  width: 15rem;
  height: 4rem;
}
@media screen and (min-width: 768px) {
  body .hero-section {
    width: 100vw;
    height: 41.5rem;
  }
  body .hero-section__container {
    width: 100vw;
    height: 29.5rem;
    padding: 0 1rem;
  }
  body .hero-section__subtitle {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 0 auto;
    padding: 6rem 0 0 0;
  }
  body .hero-section__maintitle {
    color: #FFFFFF;
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0 auto;
    width: 40rem;
    padding: 3rem 0 3rem 0;
  }
  body .hero-section__sound {
    width: 30rem;
    height: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  body .hero-section {
    width: 100vw;
    height: 41.5rem;
  }
  body .hero-section__container {
    width: 100vw;
    height: 29.5rem;
    padding: 0 1rem;
  }
  body .hero-section__subtitle {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 0 auto;
    padding: 6rem 0 0 0;
  }
  body .hero-section__maintitle {
    color: #FFFFFF;
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0 auto;
    width: 40rem;
    padding: 3rem 0 3rem 0;
  }
  body .hero-section__sound {
    width: 30rem;
    height: 8rem;
  }
}
body footer {
  font-size: 0.8125rem;
  font-weight: 700;
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 1rem;
}
body footer .footer__icon {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  body footer .footer__icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  body footer .footer__icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
body footer .footer__icon .footer__icon-container {
  margin-right: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex;
}
body footer .footer__icon .footer__icon-container .footer__icon-link {
  margin-right: 30px;
}
body footer .footer-profiles {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  body footer .footer-profiles {
    flex-direction: row;
  }
  body footer .footer-profiles .footer__icon {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  body footer .footer-profiles {
    flex-direction: row;
  }
  body footer .footer-profiles .footer__icon {
    display: flex;
    align-items: center;
  }
}
body footer .footer-profiles .footer-profile {
  flex: 1 1 33%;
}

.copyright {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .copyright__title {
    position: relative;
    bottom: 240px;
    left: 600px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@media screen and (min-width: 1024px) {
  .copyright__title {
    position: relative;
    bottom: 240px;
    left: 1050px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}